.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  background-color: #ffffff;
  border-radius: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.img {
  display: flex;
  justify-content: flex-end;
}
.heading {
  color: #171f46;
  font-size: 26px;
}
.para {
  color: #64748b;
  font-size: 20px;
}
